  $redesSociales: (
  instagram: #c92d8f,
   twitter: #55acee,
  facebook: blue,
   whatsapp: lightgreen,
 );


 @each $nombre, $color in $redesSociales{
   .link-#{$nombre} {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    /* borde */
    border-radius: 50%;
    margin: 10px;
    text-decoration: none;
     background-color: $color;
   }
 }

.flex {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 10px 0;
  }
  
  .footer {
    height: 120px;
    width: 100%;
    margin-top: 100px;
    /* Color del footer */
    background-color: #890F0D;
    /* Posicionamiento de los item */
    flex-direction: row-reverse;
    position: relative;
    bottom: 0;
  }
  
  /* color de fondo del item */
  .icono {
    font-size: 50px;
    color: white;
  }
