//index
.header__contenido {
    width: 100%;
}

.contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.monto {
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    background-color: $rojoOscuro;
    border-radius: 20px 0 20px 0;
    color: white;
    position: absolute;
    left: 0;
    padding: 0 20px;
    margin: 0 0 0 20px;
}

.logo {
    width: 300px;
    height: 200px;
    border-radius: 80px;
    margin: 80px 0 0 0;
    animation: logotitilante 1s ease 0s 3 normal forwards;
}

@keyframes logotitilante {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

//mixin
@mixin navbarindex ($color) {
  display: flex;
  flex-direction: column;
  border: solid 2px $amarilloOscuro;
  border-radius: 30px;
  margin: 20px 40px;
}

.navbar__index {
  @include navbarindex($amarilloOscuro);

    & a:hover {
        transform: translateY(-5px);
        background-color: rgba(232, 58, 20, 0.7);
    }
}


.menu__index {
    color: white;
    font-size: 45px;
    margin: 8px;
    text-align: left;
    padding: 5px 20px;
    width: 90%;
    transition: $transformde05;

     &:hover {
         transform: translateX(5px);
     }
}

.ul-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    list-style: none;
    height: 180px;
}

.item {
    display: inline-block;
    color: #fff;
    background-color: #E83A14;
    padding: 20px;
    margin: 20px 0 0 0;
    font-size: 30px;
    border-radius: 30px;
    box-shadow: 15px 17px 19px -1px rgba(0, 0, 0, 0.75);
    text-align: center;
    text-decoration: none;
    transition: $transformde05;
}

.card {
  background-color: gray;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-15px);
}

.card__header {
  position: relative;
}

.card__header img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card__header small {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 8px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}

.card__title {
  margin-bottom: 20px;
}

.card__description {
  margin-bottom: 40px;
}

.card__link {
  background-color: $rojoOscuro ;
  color: #fff;
  width: 100%;
  display: inline-block;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.card__header--strong {
  text-transform: uppercase;
  font-weight: bold;
}

.vistos {
  margin-top: 40px;
  padding: 0 20px;
}

.vistos__title {
  margin-bottom: 40px;
  text-align: center;
  background-color: $amarilloOscuro;
}

.vistos__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  /* row-gap: espaciar verticalmente */
  /* column-gap: horizontalmente */
}
//fin index

//productos
div {  
    margin-top: 5px;
    padding: 0px;
  }
  
  .nuestrosproductos {
    display: inline-block;
    padding: 10px;
    margin: 0;
    background-color: yellow;
    border-radius: 30px 0px 30px 0px;
    text-align: center;
    animation: nuestrosproductos 2s ease 0s 1 normal forwards;
  }
  
  @keyframes nuestrosproductos {
    0% {
      opacity: 0;
      transform: translateX(800px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .subtitulo {
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px;
    background-color: $amarilloOscuro;
    border-radius: 10px 0px 10px 0px;
    animation: subtitulo 3s ease 0s 1 normal forwards;
  }
  
  @keyframes subtitulo {
    0% {
      opacity: 0;
      transform: translateX(1250px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .texto {
    margin-bottom: 55px;
    font-style: italic;
    font-size: 25px;
    text-decoration: underline;
    background-color: $amarilloOscuro;
    animation: texto 5s ease 1 normal forwards;
  }
  
  @keyframes texto {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  /* GRID */
   .producto__grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .tarjeta {
    background-color: gray;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 15px 25px 2px rgba(0, 0, 0, 0.75);
    transition: $transformde05;

    &__producto {
      width: 300px;
      height: 400px;
    }

    &__titulo {
        font-size: 25px;
        background-color: red;
      }

      &:hover {
        transform: translateY(-15px);
      } 
  }
//Fin Producto


  /* Nosotros */
.montotm {
    display: inline-block;
    margin: 15px 0px 20px 0px;
    width: 100%;
    border-radius: 100px 0px 100px 0px;
    font-size: 55px;
    font-style: italic;
    background-color: yellow;
    text-align: center;
  }
  
  .quienessomos {
    background-color: gray;
    height: 515px;
    margin-bottom: 107px;

    &__title {
        display: flex;
        background-color: red;
        font-size: 35px;
       font-style: italic;
       height: 50px;
        width: 300px;
        margin: 15px 5px;
        border-radius: 15px 0px 15px 0px;
        text-align: center;
       }

       &__text {
        color: #fff;
      }

  }
  
  .videoyt {
    box-shadow: 0px 0px 19px 18px rgba(0, 0, 0, 0.81);
  }
  
  /* Fin Nosotros */


  /* Contacto */
.title {
    display: inline-block;
    font-style: italic;
    font-size: 35px;
    text-decoration: underline;
    padding: 1%;
    margin: 15px 0px 15px 20px;
    background-color: yellow;
    border-radius: 30px 0px 30px 0px;
    text-align: center;
    animation: registrese 1s ease 0s 2 normal forwards;
  }
  
  @keyframes registrese {
  
    0%,
    100% {
        transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }
  
    20%,
    40%,
    60% {
        transform: translateX(10px);
    }
  
    80% {
        transform: translateX(8px);
    }
  
    90% {
        transform: translateX(-8px);
    }
  }
  
  label {
    font-style: initial;
    font-size: 20px;
  
  }

  .formulario {
    margin-left: 20px;
  }
  
  .pais {
    margin-bottom: 70px;

    &__label {
        color: white;
      }
  }
  
  .datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    margin-bottom: 20px;

    &__input {
        width: 300px;
        height: 30px;
        padding: 0px 5px;
        margin-bottom: 10px;
      }
  
  }
  
  
  .fieldset {
    background-color: gray;
    padding: 20px;
    margin-bottom: 15px;
    width: 500px;

    &__genero {
        font-style: italic;
        font-size: 20px;
        margin: 0px 0px 15px 0px;
        height: 20px;
        display: inline-block;
      }
      &__div {
        display: flex;
        width: 500px;
        justify-content: space-between;
      }
  }
  .checkbox {
    display: flex;
    width: 545px;
    background-color: gray;
    align-items: center;
    margin: 20px 0px;
    font-size: 25px;
    font-weight: bold;

    &__botoncito {
        cursor: pointer;
      }
  }
  
  .box {
    margin-left: 10px;
}

  .botones {
    margin-bottom: 10px;
    &__boton {
        color: #fff;
        background-color: red;
        padding: 15px;
        margin: 0px;
        border-radius: 50px;
        cursor: pointer;
    
        &:hover {
            font-size: 13px;
            font-weight: bold;
          }
      }
  }
