* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
}

a {
  text-decoration: none;
}

html {
  font-family: 'Inconsolata', monospace;
  background-color: #630606;
  background-size: contain;

}

.header__contenido {
  width: 100%;
}

.contenedor {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.monto {
  display: inline-block;
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  background-color: #890F0D;
  border-radius: 20px 0 20px 0;
  color: white;
  position: absolute;
  left: 0;
  padding: 0 20px;
  margin: 0 0 0 20px;
}

.logo {
  width: 300px;
  height: 200px;
  border-radius: 80px;
  margin: 80px 0 0 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  border: solid 2px #D9CE3F;
  border-radius: 30px;
  margin: 20px 40px;
}

.menu {
  color: white;
  font-size: 45px;
  margin: 8px;
  text-align: left;
  padding: 5px 20px;
  width: 90%;
}

.ul-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  list-style: none;
  height: 180px;
}

.item {
  color: #fff;
  background-color: #E83A14;
  padding: 20px;
  margin: 20px 0 0 0;
  font-size: 30px;
  border-radius: 30px;
  box-shadow: 15px 17px 19px -1px rgba(0, 0, 0, 0.75);
  text-align: center;
  display: inline-block;
}


.flex {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.footer {
  width: 100%;
  /* Color del footer */
  background-color: #890F0D;
  /* Posicionamiento de los item */
  flex-direction: row-reverse;
  position: absolute;
  bottom: 0;
}

.contenedor_icono {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  /* borde */
  border-radius: 50%;
  margin: 10px;
}

/* color de fondo del item */
.icono {
  font-size: 50px;
  color: white;
}

/* color de fondo del item */
.instagram {
  background-color: pink;
}

/* color de fondo del item */
.whatsapp {
  background-color: green;
}

/* color de fondo del item */
.twitter {
  background-color: lightblue;
}

/* color de fondo del item */
.facebook {
  background-color: blue;
}


@media (max-width:870px) {
.logo {
  width: 200px;
  height: 150px;
}
  .ul-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .item{
    font-size: 15px;
  }
  
}


@media (max-width:450px) {
  .ul-index {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    gap: 5px;
  }

  .navbar {
    border: none;
  }

  .item {
    font-size: 17px;
  }

  
}


@media (max-width:375px) {

  .logo {
    width: 150px;
    height: 100px;
  }
    .ul-index {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, auto);
      gap: 5px;
    }
    .navbar {
      border: none;
    }
  
    .item {
      font-size: 15px;
    }

  }