* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inconsolata', monospace;
    background-color: #630606;
    background-size: contain;
}

.header {
    background-color: #E83A14;
    color: #e2e8f0;
    padding: 30px 20px ;
}

a {
    font-size: 28px;
}

p {
    line-height: 1.5;
    font-size: 20px ;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 auto;
}

ul {
    list-style-type: none;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__title {
    color: white;
    font-size: 40px;
}
.content__title:hover {
  font-size: 45px;
  color: black;
  }

.navbar {
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar li a {
    color: white ;
    font-weight: bold;
}
.navbar a:hover {
  color: black;
  font-size: 30px;
  }

/* body */

.montotm {
    display: inline-block;
    margin: 15px 0px 20px 0px;
    width: 100%;
    border-radius: 100px 0px 100px 0px;
    font-size: 55px;
    font-style: italic;
    background-color: yellow;
    text-align: center;
}

.main_quienessomos {
    background-color: gray;
    height: 515px;
}


.quienessomos {
    display: flex;
    background-color: red;
    font-size: 35px;
    font-style: italic;
    height: 50px;
    width: 300px;
    margin: 15px 5px;
    border-radius: 15px 0px 15px 0px;
    text-align: center;
}

.text__quienessomos {
    color: #fff;
}

.videoyt {
    box-shadow: 0px 0px 19px 18px rgba(0,0,0,0.81);
}

.flex {
    display: flex;
    justify-content: flex-end;
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.footer {
    width: 100%;
    /* Color del footer */
    background-color: #890F0D;
    /* Posicionamiento de los item */
    flex-direction: row-reverse;
    position: absolute;
    bottom: 0;
}

.contenedor_icono {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  /* borde */
    border-radius: 50%;
    margin: 10px;
    text-decoration: none;
  }
/* color de fondo del item */
  .icono {
    font-size: 50px;
    color: white;
  }
/* color de fondo del item */
  .instagram {
    background-color: pink;
  }
/* color de fondo del item */
  .whatsapp {
    background-color: green;
  }
/* color de fondo del item */
  .twitter {
    background-color: lightblue;
  }
/* color de fondo del item */
  .facebook {
    background-color: blue;
  }
