* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inconsolata', monospace;
  background-color: #630606;
  background-size: contain;
}

.header {
  background-color: #E83A14;
  color: #e2e8f0;
  padding: 30px 20px;
}

a {
  font-size: 28px;
}

p {
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0 auto;
}

ul {
  list-style-type: none;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__title {
  color: white;
  font-size: 40px;
}
.content__title:hover {
  font-size: 45px;
  color: black;
}

.navbar {
  display: flex;
}

.navbar li {
  margin: 0 15px;
}

.navbar li a {
  color: white;
  font-weight: bold;
}
.navbar a:hover {
  color: black;
  font-size: 30px;
  }

/* Body */

div {
  margin-top: 15px;
  padding: 0px;
}

.nuestrosproductos {
  display: inline-block;
  padding: 10px;
  margin: 0;
  background-color: yellow;
  border-radius: 30px 0px 30px 0px;
  text-align: center;
  animation: nuestrosproductos 2s ease 0s 1 normal forwards;
}
@keyframes nuestrosproductos {
	0% {
		opacity: 0;
		transform: translateX(800px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.subtitulo {
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #d9cf3fda;
  border-radius: 10px 0px 10px 0px;
  animation: subtitulo 3s ease 0s 1 normal forwards;
}
@keyframes subtitulo {
	0% {
		opacity: 0;
		transform: translateX(1250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.texto {
  margin-bottom: 55px;
  font-style: italic;
  font-size: 25px;
  text-decoration: underline;
  background-color: #d9cf3fda;
  animation: texto 5s ease 1 normal forwards;
}
@keyframes texto {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* GRID */
.producto__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tarjeta__titulo {
  font-size: 25px;
  background-color: red;
}

.tarjeta {
  background-color: gray;
  margin-bottom: 30px;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 15px 25px 2px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}
.tarjeta:hover {
  transform: translateY(-15px);
}

.flex {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.footer {
  width: 100%;
  /* Color del footer */
  background-color: #890F0D;
  /* Posicionamiento de los item */
  flex-direction: row-reverse;
  bottom: 0;
}

.contenedor_icono {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  /* borde */
  border-radius: 50%;
  margin: 10px;
  text-decoration: none;
}

/* color de fondo del item */
.icono {
  font-size: 50px;
  color: white;
}

/* color de fondo del item */
.instagram {
  background-color: pink;
}

/* color de fondo del item */
.whatsapp {
  background-color: green;
}

/* color de fondo del item */
.twitter {
  background-color: lightblue;
}

/* color de fondo del item */
.facebook {
  background-color: blue;
}

/* BREAKPOINTS */
@media (max-width: 768px) {
  .header {
    display: none;
    width: 0 auto;
  }
  .producto__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .contenedor__titulos {
    font-size: 15.2px;
  }
  .nuestrosproductos {
    display: inline-block;
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: yellow;
    border-radius: 30px 0px 30px 0px;
    text-align: center;
  }

  .subtitulo {
    display: inline-block;
    /* width: 50%; */
    padding: 10px;
    margin-bottom: 30px;
    background-color: #d9cf3fda;
    border-radius: 10px 0px 10px 0px;
  }
  
  .texto {
    font-size: 15px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .header {
    display: none;
  }

  .nuestrosproductos {
    display: inline-block;
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: yellow;
    border-radius: 30px 0px 30px 0px;
    text-align: center;
  }

  .subtitulo {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #d9cf3fda;
    border-radius: 10px 0px 10px 0px;
  }
  
  .texto {
    font-size: 10px;
    width: 100%;
  }

  .producto__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .contenedor__titulos {
    font-size: 15px;
  }

}




@media (max-width: 375px) {
  .header {
    display: none;
  }

  .nuestrosproductos {
    display: inline-block;
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: yellow;
    border-radius: 30px 0px 30px 0px;
    text-align: center;
  }

  .subtitulo {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #d9cf3fda;
    border-radius: 10px 0px 10px 0px;
  }

  .texto {
    width: 100%;
    margin-bottom: 55px;
    font-style: italic;
    text-decoration: underline;
    background-color: #d9cf3fda;
  }

  .producto__grid {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}




