* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inconsolata', monospace;
    background-color: #630606;
    background-size: contain;
}

.header {
    background-color: #E83A14;
    color: #e2e8f0;
    padding: 30px 20px ;
}

a {
    font-size: 28px;
}

p {
    line-height: 1.5;
    font-size: 20px ;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 auto;
}

ul {
    list-style-type: none;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__title {
    color: white;
    font-size: 40px;
}

.navbar {
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar li a {
    color: white ;
    font-weight: bold;
}

/* body */


.title {
    display: inline-block;
    margin: 15px 0px 15px 0px;
    padding: 10px 0;
    text-align: center;
    width: 23%;
    font-style: italic;
    background-color: yellow;
    text-decoration: underline;
    font-size: 35px;
    border-radius: 50px 0px 50px 0px;
}

label {
    font-style: initial;
    font-size: 20px;

}



.pais {
    margin-bottom: 70px;
}

.label__pais {
    color: white;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    margin-bottom: 20px;
    
}

.register__input {
    width: 300px;
    height: 30px;
    padding: 0px 5px;
    margin-bottom: 10px;
}


.fieldset__genero {
    background-color:  gray;
    padding: 20px;
    margin-bottom: 15px;
}
.genero {
    font-style: italic;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
    height: 20px;
    display: inline-block;
}

.div__genero {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.boton {
    color: #fff;
    background-color: red;
    padding: 15px;
    margin: 0px;
    border-radius: 50px;
    cursor: pointer;
}

.botoncito {
    cursor: pointer;
}

.sus__chexbox {
    display: flex;
    background-color: gray;
    align-items: center;
    margin: 20px  0px;
    font-size: 25px;
    font-weight: bold;
}

.box {
    margin-left: 10px;
}

.botones {
    margin-bottom: 10px;
}

.flex {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.footer {
    width: 100%;
    /* Color del footer */
    background-color: #890F0D;
    /* Posicionamiento de los item */
    flex-direction: row-reverse;
    position: relative ;
}

.contenedor_icono {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  /* borde */
    border-radius: 50%;
    margin: 10px;
    text-decoration: none;
  }
/* color de fondo del item */
  .icono {
    font-size: 50px;
    color: white;
  }
/* color de fondo del item */
  .instagram {
    background-color: pink;
  }
/* color de fondo del item */
  .whatsapp {
    background-color: green;
  }
/* color de fondo del item */
  .twitter {
    background-color: lightblue;
  }
/* color de fondo del item */
  .facebook {
    background-color: blue;
  }

